<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Share Community</title>
	<!-- Share Community Logo Icon Link -->
	<link rel="Shortcut Icon" type="image/x-icon" href="../images/base/Share_Community_Logo_icon.png"/>
	<!-- CSS File Link -->
	<link rel="stylesheet" href="css/pages/explore.css">
</head>
<body>

	<header>
		<div class="template-container template-container-flex">
			<div class="header__Share-Community-Logo">
				<a href="#">
					<img src="../images/base/Share_Community_Logo_inline.png" alt="Share Community">
				</a>
			</div>
			<div class="header__nav-section">
				<div class="header__functons">
					<ul>
						<li>
							<a href="#" id="header__functons-search">搜尋</a>
						</li>
						<li>
							<a href="#" id="header__functons-explore">探索</a>
						</li>
						<li>
							<a href="#" id="header__functons-notifications">通知</a>
						</li>
						<li>
							<a href="#" id="header__functons-newsfeed">動態消息</a>
						</li>
						<li>
							<a href="#" id="header__functons-requests">追蹤請求</a>
						</li>
					</ul>
				</div>
				<div class="header__profile">
					<a href="#">
						<div class="header__profile-avatar"></div>
						<span class="header__profile-account">boruei.brc</span>
					</a>
				</div>
			</div>
		</div>
	</header>

	<div id="template-explore" style="/*filter: blur(6.5px)*/">
		<div class="template-container">
			<!-- 探索用戶 -->
			<div class="template-block__section">
				<div class="template-block__section-header">
					<div class="template-block__section-title">探索用戶</div>
					<div class="template-block__section-more">
						<a href="#">查看更多</a>
					</div>
				</div>
				<div class="template-block__section-content">

					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>
					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>
					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>
					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>
					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>
					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>
					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>
					<div class="user-basic-component">
						<div class="user-basic__owner-avatar"></div>
						<div class="user-basic__owner-account">boruei.brc</div>
						<button type="button" class="user-basic__follow-btn">追蹤</button>
					</div>

				</div>
			</div>
			<!-- 探索用戶 -->
			<div class="template-block__section">
				<div class="template-block__section-header">
					<div class="template-block__section-title">探索用戶</div>
					<div class="template-block__section-more">
						<a href="#">查看更多</a>
					</div>
				</div>
				<div class="template-block__section-content">

					<div class="user-advanced-component">
						<div class="user-advanced__owner">
							<div class="user-advanced__owner-avatar"></div>
							<div class="user-advanced__owner-info">
								<div class="user-advanced__owner-account">boruei.brc</div>
								<div class="user-advanced__owner-from clear-fix">Keelung, Taiwan</div>
								<button type="button" class="user-advanced__follow-btn">追蹤</button>
							</div>
						</div>
						<div class="user-advanced__data">
							<ul>
								<li>
									<span>100</span>
									<span>貼文</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>粉絲</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>追蹤</span>
								</li>
							</ul>
						</div>
						<div class="user-advanced__preview">
							<div class="user-advanced__slide">
								<ul>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
								</ul>
							</div>
							<div class="user-advanced__paging">
								<ul>
									<li class="user-advanced__paging-active"></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="user-advanced-component">
						<div class="user-advanced__owner">
							<div class="user-advanced__owner-avatar"></div>
							<div class="user-advanced__owner-info">
								<div class="user-advanced__owner-account">boruei.brc</div>
								<div class="user-advanced__owner-from clear-fix">Keelung, Taiwan</div>
								<button type="button" class="user-advanced__follow-btn">追蹤</button>
							</div>
						</div>
						<div class="user-advanced__data">
							<ul>
								<li>
									<span>100</span>
									<span>貼文</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>粉絲</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>追蹤</span>
								</li>
							</ul>
						</div>
						<div class="user-advanced__preview">
							<div class="user-advanced__slide">
								<ul>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
								</ul>
							</div>
							<div class="user-advanced__paging">
								<ul>
									<li class="user-advanced__paging-active"></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="user-advanced-component">
						<div class="user-advanced__owner">
							<div class="user-advanced__owner-avatar"></div>
							<div class="user-advanced__owner-info">
								<div class="user-advanced__owner-account">boruei.brc</div>
								<div class="user-advanced__owner-from clear-fix">Keelung, Taiwan</div>
								<button type="button" class="user-advanced__follow-btn">追蹤</button>
							</div>
						</div>
						<div class="user-advanced__data">
							<ul>
								<li>
									<span>100</span>
									<span>貼文</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>粉絲</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>追蹤</span>
								</li>
							</ul>
						</div>
						<div class="user-advanced__preview">
							<div class="user-advanced__slide">
								<ul>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
								</ul>
							</div>
							<div class="user-advanced__paging">
								<ul>
									<li class="user-advanced__paging-active"></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="user-advanced-component">
						<div class="user-advanced__owner">
							<div class="user-advanced__owner-avatar"></div>
							<div class="user-advanced__owner-info">
								<div class="user-advanced__owner-account">boruei.brc</div>
								<div class="user-advanced__owner-from clear-fix">Keelung, Taiwan</div>
								<button type="button" class="user-advanced__follow-btn">追蹤</button>
							</div>
						</div>
						<div class="user-advanced__data">
							<ul>
								<li>
									<span>100</span>
									<span>貼文</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>粉絲</span>
								</li>
								<hr>
								<li>
									<span>100</span>
									<span>追蹤</span>
								</li>
							</ul>
						</div>
						<div class="user-advanced__preview">
							<div class="user-advanced__slide">
								<ul>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
									<li>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
										<div class="user-advanced__post-photo"></div>
									</li>
								</ul>
							</div>
							<div class="user-advanced__paging">
								<ul>
									<li class="user-advanced__paging-active"></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- 探索動態 -->
			<div class="template-block__section">
				<div class="template-block__section-header">
					<div class="template-block__section-title">探索動態</div>
					<div class="template-block__section-more">
						<a href="#">查看更多</a>
					</div>
				</div>
				<div class="template-block__section-content">

					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-basic"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__like">10</span>
										<span class="newsfeed-polaroid__message">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-basic">查看動態</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__owner">
							<div class="newsfeed-polaroid__owner-avatar"></div>
							<div class="newsfeed-polaroid__owner-account">boruei.brc</div>
						</div>
					</div>
					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-basic"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__like">10</span>
										<span class="newsfeed-polaroid__message">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-basic">查看動態</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__owner">
							<div class="newsfeed-polaroid__owner-avatar"></div>
							<div class="newsfeed-polaroid__owner-account">boruei.brc</div>
						</div>
					</div>
					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-basic"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__like">10</span>
										<span class="newsfeed-polaroid__message">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-basic">查看動態</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__owner">
							<div class="newsfeed-polaroid__owner-avatar"></div>
							<div class="newsfeed-polaroid__owner-account">boruei.brc</div>
						</div>
					</div>
					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-basic"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__like">10</span>
										<span class="newsfeed-polaroid__message">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-basic">查看動態</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__owner">
							<div class="newsfeed-polaroid__owner-avatar"></div>
							<div class="newsfeed-polaroid__owner-account">boruei.brc</div>
						</div>
					</div>

				</div>
			</div>
			<!-- 探索文章 -->
			<div class="template-block__section">
				<div class="template-block__section-header">
					<div class="template-block__section-title">探索文章</div>
					<div class="template-block__section-more">
						<a href="#">查看更多</a>
					</div>
				</div>
				<div class="template-block__section-content">

					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-article"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__rise-rank">10</span>
										<span class="newsfeed-polaroid__like">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-article">查看文章</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__article-info">
							<div class="newsfeed-polaroid__article-title">文章標題文章標題文章標題文章標題文章標題</div>
							<div class="newsfeed-polaroid__article-desc">文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章</div>
						</div>
					</div>
					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-article"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__rise-rank">10</span>
										<span class="newsfeed-polaroid__like">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-article">查看文章</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__article-info">
							<div class="newsfeed-polaroid__article-title">文章標題文章標題文章標題文章標題文章標題</div>
							<div class="newsfeed-polaroid__article-desc">文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章</div>
						</div>
					</div>
					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-article"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__rise-rank">10</span>
										<span class="newsfeed-polaroid__like">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-article">查看文章</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__article-info">
							<div class="newsfeed-polaroid__article-title">文章標題文章標題文章標題文章標題文章標題</div>
							<div class="newsfeed-polaroid__article-desc">文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章</div>
						</div>
					</div>
					<div class="newsfeed-polaroid-component">
						<div class="newsfeed-polaroid__cover">
							<div class="newsfeed-polaroid__cover-photo"></div>
							<div class="newsfeed-polaroid__cover-info">
								<ul>
									<li class="newsfeed-polaroid__type-article"></li>
									<li class="newsfeed-polaroid__post-location clear-fix">葉月堂‧手作リ雪花冰專売店</li>
								</ul>
							</div>
							<div class="newsfeed-polaroid__cover-nav">
								<ul>
									<li>
										<span class="newsfeed-polaroid__rise-rank">10</span>
										<span class="newsfeed-polaroid__like">10</span>
									</li>
									<li>
										<span class="newsfeed-polaroid__view-article">查看文章</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="newsfeed-polaroid__article-info">
							<div class="newsfeed-polaroid__article-title">文章標題文章標題文章標題文章標題文章標題</div>
							<div class="newsfeed-polaroid__article-desc">文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章敘述文章</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- 動態跳窗 -->
	<div class="newsfeed-lightbox__fade-screen">
		<div class="newsfeed-lightbox__body">
			<div class="newsfeed-lightbox__photo"></div>
			<div class="newsfeed-lightbox__details">
				<!-- owner 組件 -->
				<div class="newsfeed-lightbox__owner">
					<div class="newsfeed-lightbox__owner-avatar"></div>
					<div class="newsfeed-lightbox__owner-info">
						<div class="newsfeed-lightbox__owner-info-row">
							<a href="#" class="newsfeed-lightbox__owner-account">boruei.brc</a>
							<span class="newsfeed-lightbox__post-time">15分鐘前 發佈。</span>
						</div>
						<div class="newsfeed-lightbox__owner-info-row">
							<a href="#" class="newsfeed-lightbox__post-location">情人碼頭</a>
						</div>
					</div>
				</div>
				<!-- owner 組件 -->
				<div class="newsfeed-lightbox__content">
					<!-- post 組件 -->
					<div class="newsfeed-lightbox__post">
						<div class="newsfeed-lightbox__post-text">
							<p>動態內容動態內容動態內容動態內容動態內容動態內容動態內容動態內容動態內容動態內容動態內容動態內容</p>
						</div>
						<div class="newsfeed-lightbox__post-tags">
							<a href="#">Tag</a>
							<a href="#">Tag</a>
							<a href="#">Tag</a>
						</div>
					</div>
					<!-- post 組件 -->
					<!-- messages 組件 -->
					<div class="newsfeed-lightbox__messages">
						<div class="newsfeed-lightbox__count-section">
							<p>
								<span class="newsfeed-lightbox__count">10</span>
								<span>則留言。</span>
							</p>
							<button type="button" class="newsfeed-lightbox__display-messages-btn">顯示全部</button>
						</div>
						<div class="newsfeed-lightbox__messages-section">
							<div class="newsfeed-lightbox__message-scope">
								<div class="newsfeed-lightbox__reply-this-post">
									<!-- reply 留言組件 (用戶) -->
									<div class="newsfeed-lightbox__reply-user">
										<div class="newsfeed-lightbox__reply-row">
											<div class="newsfeed-lightbox__reply-avatar"></div>
											<div class="newsfeed-lightbox__reply-account">boruei.brc</div>
										</div>
										<div class="newsfeed-lightbox__reply-row">
											<p class="newsfeed-lightbox__reply-text">留言留言留言留言留言留言</p>
										</div>
									</div>
									<!-- reply 留言組件 (用戶) -->
								</div>
								<div class="newsfeed-lightbox__reply-this-message">
									<!-- reply 留言組件 (所有者) -->
									<div class="newsfeed-lightbox__reply-owner">
										<div class="newsfeed-lightbox__reply-row">
											<div class="newsfeed-lightbox__reply-avatar"></div>
											<div class="newsfeed-lightbox__reply-account">boruei.brc</div>
										</div>
										<div class="newsfeed-lightbox__reply-row">
											<p class="newsfeed-lightbox__reply-text">留言留言留言留言留言留言</p>
										</div>
									</div>
									<!-- reply 留言組件 (所有者) -->
									<div class="newsfeed-lightbox__reply-owner">
										<div class="newsfeed-lightbox__reply-row">
											<div class="newsfeed-lightbox__reply-avatar"></div>
											<div class="newsfeed-lightbox__reply-account">boruei.brc</div>
										</div>
										<div class="newsfeed-lightbox__reply-row">
											<p class="newsfeed-lightbox__reply-text">留言留言留言留言留言留言</p>
										</div>
									</div>
								</div>
							</div>
							<div class="newsfeed-lightbox__message-scope">
								<div class="newsfeed-lightbox__reply-this-post">
									<!-- reply 留言組件 (用戶) -->
									<div class="newsfeed-lightbox__reply-user">
										<div class="newsfeed-lightbox__reply-row">
											<div class="newsfeed-lightbox__reply-avatar"></div>
											<div class="newsfeed-lightbox__reply-account">boruei.brc</div>
										</div>
										<div class="newsfeed-lightbox__reply-row">
											<p class="newsfeed-lightbox__reply-text">留言留言留言留言留言留言</p>
										</div>
									</div>
									<!-- reply 留言組件 (用戶) -->
								</div>
							</div>
							<div class="newsfeed-lightbox__message-scope">
								<div class="newsfeed-lightbox__reply-this-post">
									<!-- reply 留言組件 (用戶) -->
									<div class="newsfeed-lightbox__reply-user">
										<div class="newsfeed-lightbox__reply-row">
											<div class="newsfeed-lightbox__reply-avatar"></div>
											<div class="newsfeed-lightbox__reply-account">boruei.brc</div>
										</div>
										<div class="newsfeed-lightbox__reply-row">
											<p class="newsfeed-lightbox__reply-text">留言留言留言留言留言留言</p>
										</div>
									</div>
									<!-- reply 留言組件 (用戶) -->
								</div>
							</div>
						</div>
					</div>
					<!-- messages 組件 -->
				</div>
				<!-- 控制組件 -->
				<div class="newsfeed-lightbox__operate">
					<div class="newsfeed-lightbox__operate-row">
						<button type="button" class="newsfeed-lightbox__like-btn">
							<span>10</span>
						</button>
						<button type="button" class="newsfeed-lightbox__edit-message-btn">
							<span>10</span>
						</button>
					</div>
					<div class="newsfeed-lightbox__operate-row">
						<input type="text" name="newsfeed_message" id="newsfeed-lightbox__message" placeholder="留言...">
					</div>
				</div>
			</div>
			<div class="newsfeed-lightbox__control">
				<button type="button" id="newsfeed-lightbox__prev-btn"></button>
				<button type="button" id="newsfeed-lightbox__next-btn"></button>
				<hr>
				<button type="button" id="newsfeed-lightbox__close-btn"></button>
			</div>
		</div>
	</div>

</body>
</html>